// variables--------------------
$breakpoints: (
  'sm-min': 'screen and (min-width: 576px)',
  'sm-max': 'screen and (max-width: 575px)',
  'md-min': 'screen and (min-width: 768px)',
  'md-max': 'screen and (max-width: 767px)',
  'lg-min': 'screen and (min-width: 992px)',
  'lg-max': 'screen and (max-width: 991px)',
  'xl-min': 'screen and (min-width: 1131px)',
  'xl-max': 'screen and (max-width: 1130px)',
);
@mixin mq($breakpoint: md-min) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$c_black : #333;
$c_green : #459209;
$c_yellow : #efdd34;
$c_beige : #efe1c5;
$c_brown : #3C3526;
$c_bg : #FAF7F2;
$m-width : 1200px;
$c_header : #F1F0EA;
$c_browntext : #BFB7A7;
$c_content_bg : #EFEAE4;
$c_btn_brown :#3C3526;
$c_footer_bg : #C1B6A1;

.material-icons{
  display: inline-flex;
  vertical-align: middle;
  padding-right: 5px;
  }

// common
body {
  font-family: 'itc-avant-garde-gothic-pro','Midashi Go MB31';/* モリサワフォント読み込めていないので、要改修（クラウド９で作業？） */
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: $c_black;
  background-color: $c_bg;
}
a {
  color: $c_black;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
ul {
  list-style: none;
}

//main--------------------
.main {
  margin-top: 80px;
  @include mq(md-min) {
    margin-top: 80px;
  }
  /*全体*/
.answer_box{
  width: 90%;
  margin: 1em auto;
  padding: 0;
}

/*ボタン装飾*/
.answer_box {
  .option1-title{
    position: relative;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .is-hidden { /*横山さんご指摘事項反映*/
    display: none;
   }

  .option1-title::after{ /*アコーディオン装飾*/
    content: "";
    position: absolute;
    right: 10px;
    top: 20%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #6A4E4E;
    border-right: solid 2px #6A4E4E;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .option1-title.open:after{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }
  
  .label1_1.written,.label1_2.written {
    background-color: #EBE2D6; 
  }
  
  /*チェックは見えなくする*/
  input[type="checkbox"] {
    display: none;
  }

  .label1_1 ,.label1_2 {
    display: block;
    width: 300px;
    margin: 10px auto;
    background-color: white;
    color: #6A4E4E;
    padding: 15px;
    font-weight: normal;
    border: solid 1px #6A4E4E;
    border-radius: 15px;
    cursor :pointer;
  }

  .label1_1_1, .label1_1_2, .label1_1_3,.label1_1_4, .label1_1_5, .label1_1_6,.label1_2_1, .label1_2_2, .label1_2_3,.label1_2_4, .label1_2_5, .label1_2_6{
    text-align: center;
    margin: 10px 0px;
    display: block;
    width: 100%;
    background-color: white;
    color: #6A4E4E;
    padding: 15px;
    font-weight: normal;
    border: solid 1px #6A4E4E;
    border-radius: 15px;
    cursor :pointer;
  }
  .label1_1_1:hover ,.label1_1_2:hover , .label1_1_3:hover,.label1_1_4:hover ,.label1_1_5:hover , .label1_1_6:hover,.label1_2_1:hover ,.label1_2_2:hover , .label1_2_3:hover,.label1_2_4:hover ,.label1_2_5:hover , .label1_2_6:hover,
  .option2btn input:checked ~ .label1_1_1 ,.option2btn input:checked ~ .label1_1_2 , .option2btn input:checked ~ .label1_1_3,.option2btn input:checked ~ .label1_1_4 ,.option2btn input:checked ~ .label1_1_5 , .option2btn input:checked ~ .label1_1_6,
  .option2btn input:checked ~ .label1_2_1 ,.option2btn input:checked ~ .label1_2_2 , .option2btn input:checked ~ .label1_2_3,.option2btn input:checked ~ .label1_2_4 ,.option2btn input:checked ~ .label1_2_5 , .option2btn input:checked ~ .label1_2_6
   {
    background: #8B806C;
    border: solid 1px #8B806C;
    color: white;
  }

  .label1_3 {
    text-align: center;
    font-size: 18px;
    display: block;
    width: 300px;
    margin: 10px auto;
    background-color: white;
    color: #6A4E4E;
    padding: 15px;
    font-weight: normal;
    border: solid 1px #6A4E4E;
    border-radius: 15px;
    cursor :pointer;
  }
  .label1_3:hover {
    background: #8B806C;
    border: solid 1px #8B806C;
    color: white;
  }
  input:checked ~ .label1_3{
    background: #8B806C;
    border: solid 1px #8B806C;
    color: white;
  }

  .fa-filledout{
    background-color: #8B806C;
    border: solid 1px #8B806C;
    color: white;
  }
}

/*インプット欄のデザイン*/
input[type="text"] {
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 8px auto;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }

}

/*メイン上部*/
.faq_back {
  display: flex;
  background-color: #EBE2D6;
  width: 100%;
  height: 60px;
  .btn_back {
    font-size: 18px;
    font-weight: normal;
    color: #413A2A;
    text-align: center;
    display: block;
    position: relative;
    margin: 10px auto;
    padding: 4px 0;
    transition: all .3s;
    @include mq(md-min) {
      width: 250px;
    }
    span {
      position: absolute;
      top: 50%;
      left: -100px;
      margin-top: -15px;
      font-size: 30px;
      color: #3C3526;
    }
} 
}
.qusetion01 {
  color: #363636;
  font-size: 16px;
  margin: 38px 20px;
  text-align: center;
}

/*プログレスバー*/
.progressbar {
  background-color: #EBE2D6;
  height: 20px;
}

.progress_back {
  display: block;
  width: 80%;
  margin: auto;
  height: 10px;
  background: #FFFFFF;
  position: relative;
  border-radius: 10px;
}
.progress_front {
  display: block;
//2/7=28.571%
  width: 29%;
  height: 10px;
  background: #C1B6A1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  }


/*次の質問へと進むボタン*/
.faq_next {
  font-size: 18px;
  font-weight: normal;
  color: #FFFFFF ;
  text-align: center;
  display: block;
  position: relative;
  width: 300px;
  height: 60px;
  margin: 32px auto;
  padding: 12px 0;
  background:$c_btn_brown;
  transition: all .3s;
  @include mq(md-min) {
    width: 250px;
  }
  span {
    position: absolute;
    top: 50%;
    right: 6px;
    margin-top: -15px;
    font-size: 30px;
  }

  &:hover {
    background:$c_beige;
    border-color: $c_beige;
  }
}
button[type="submit"][disabled] {
  background-color: #fff;
  color: #ccc;
  border-color: #ccc;
  cursor: default;
}
button[type="submit"][disabled]:hover{
opacity:1;
}