/* ボタンのデザイン */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(to right bottom, #FFA500, #FF6347);
  border-radius: 5px;
  color: #fff;
  margin: 20px;
  transition: 0.3s;
}

.btn:hover {
  opacity: .8;
}

/* オーバーレイ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);  
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ */
.modal {
  max-width: 500px;
  width: 80%;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  background-color: #FAF7F2;
}

/* activeクラスのついたモーダルウィンドウ */
.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  background-color: #EBE2D6;
  color: #3C3526;
  padding: 20px 45px;
  border-radius: 5px 5px 0 0;
}

.modal p {
  font-size: 14px;
  margin: 20px 30px;
  color: #3C3526;
}

.modal .modalbtn {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
.modal .cancel a {
  text-decoration: none;
  display: block;
  width: 110px;
  text-align: center;
  line-height: 40px;
  background-color: #3C3526;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
}
.modal .back a {
  text-decoration: none;
  display: block;
  width: 110px;
  text-align: center;
  line-height: 40px;
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #707070;
}

/* スクロールできる高さを出すための設定 */
section {
  height: 200vh;
}